**/*.md
**/.env
.cache
node_modules
packages/**/node_modules
packages/**/dist
packages/**/*.test.*
apps/**/node_modules
apps/**/dist
apps/**/*.test.*
.git
.github
!.github/scripts
*.tsbuildinfo
packages/cli/dist/**/e2e.*
docker/compose
docker/**/Dockerfile
.vscode